.container-slid{
 display: flex;
  width: 50vw;
  height: 50vh;  
  background-color: black;
  margin: 0 auto;
  margin-top: 20vh;
  border-radius: 10px;
  box-shadow: 0 20px 30 black;
  justify-content: space-between;
}
.container-items{
    position: absolute;
    display: flex;
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    overflow: hidden;
}
.item{
    width: 50vw;
    height: 50vh;
    transition: all 0.5s;
}
.item:first-child{
    margin-left: -100%;
}
.item img {
    width: 50vw;
    height: 50vh; 
    border-radius: 10px;
}
.action-button{
    font: bold 30px sans-serif;
    display: flex;
    user-select: none;
    width: 50px;
    justify-content: center;
    align-items: center;
    color: #000000;
    z-index: 1;
}
.action-button:hover{
    color: #ffffff;
    background-color: black;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

